aiohttp
https://github.com/abusaidm/sru_pip/tarball/master#egg=sru_pip-0.1.0
https://github.com/abusaidm/sru_service/tarball/master#egg=sru_service-0.1.0
https://github.com/ben-garside/sru_utils/tarball/master#egg=sru_utils-0.1.0